.p {
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  text
}

.body {
  background-color: brown;
}

.h2 {
  font-size: 3rem;
  color: #f3e074;
  text-align: center;
  font-weight: 100;
}
.center-box {
 display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically (optional) */
  color: rgb(255, 208, 1);
  border: none;
  border-radius: 6px;
  transition: 0.3s;

}

.btn:hover {
  background: #3b34c5;
}
.cursor {
cursor: pointer;
}